// Colores de resolución de los matches
$color-match-green: #1C9D48;
$color-match-yellow: #E3B336;
$color-match-red: #D82D3C;

// Texto rojo de la página
$color-text-red: #CE0037;
$color-text-white: #F5F5F7;

// Borde y fondo de players
$color-player-border: #B60525;
$color-player-bg: #220207;

// Color del formulario
$color-form-text: #E00B2E;

// Bordes claros, nav, footer y elementos neutros
$color-border-light: #AEAEAE;
// Fondo de la section de matches (hay que aplicarle opacity)
$color-marches-bg : #A15A5A;

// Fuentes
$font-general: "Oswald", sans-serif;
$font-sentinels: "Orbitron", sans-serif;

// Tema oscuro/nav/footer
$color-black: black;
$color-white: #F5F5F7;

// otros colores
$color-red-light: #ff4d4d;
$color-red-dark: #cc0000;
$color-red-soft: #ff6666;
$color-red-deep: #b30000;
$color-grey-muted: #838383;

$color-scroll: #e70737;
$scroll-fuera: #141414;